{% extends '01-admin-base.html' %}
{% load static %}
{% block content %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>{{user.first_name}}</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Last 10 days Orders (By Payment Mode)</h2>
                        <canvas id="lineChart1"></canvas>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Number of Orders (By Category)</h2>
                        <canvas id="barChart1"></canvas>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Orders(By Order Status)</h2>
                        <div id="pieChart1Container">
                            <canvas id="pieChart1" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>                        
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Notifications <i class="fas fa-bell"></i></h2>
                        <div class="tm-notification-items">
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Jessica</b> and <b>6 others</b> sent you new <a href="#"
                                            class="tm-notification-link">product updates</a>. Check new orders.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Oliver Too</b> and <b>6 others</b> sent you existing <a href="#"
                                            class="tm-notification-link">product updates</a>. Read more reports.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Victoria</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">order updates</a>. Read order information.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Laura Cute</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">product records</a>.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Samantha</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">order stuffs</a>.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Sophie</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">product updates</a>.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Lily A</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">product updates</a>.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Amara</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">product updates</a>.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Cinthela</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">product updates</a>.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ORDER NO.</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">ORDER STATUS</th>
                                    <th scope="col">ADDRESS</th>
                                    <th scope="col">PAYMENT METHOD</th>
                                    <th scope="col">PAYMENT STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% regroup orders by order_id as order_ids %}

                                {% for order in order_ids %}
                                <tr>
                                    <th scope="row"><b>{{order.grouper}}</b></th>
                                    {% for record in order.list %}
                                    {% if forloop.counter == 1 %}
                                    
                                    <td><b>{{record.cutomer_name.first_name}}</b></td>
                                    <td><b>{{record.date}}</b></td>
                                 
                                    {% if record.order_status == "confirm" %}
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>{{record.get_order_status_display}}
                                    </td>
                                    {% elif record.order_status == "pending" %}
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>{{record.get_order_status_display}}
                                    </td>
                                    {% elif record.order_status == "cancelled" %}
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>{{record.get_order_status_display}}
                                    </td>
                                    {% else %}
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>{{record.get_order_status_display}}
                                    </td>
                                    {% endif %}

                                    <td>{{record.address}}</td>
                                    <td>{{record.get_payment_method_display}}</td>

                                    {% if record.payment_status == "confirm" %}
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>{{record.get_payment_status_display}}
                                    </td>
                                    {% elif record.payment_status == "pending" %}
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>{{record.get_payment_status_display}}
                                    </td>
                                    {% else %}
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>{{record.get_payment_status_display}}
                                    </td>
                                    {% endif %}

                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

{% block chartjs %}
<script type="text/javascript">    
    {% comment %} For Pie Chart {% endcomment %}
    if ($("#pieChart1").length) {
    var chartHeight = 300;
    $("#pieChart1Container").css("height", chartHeight + "px");
    ctxPie = document.getElementById("pieChart1").getContext("2d");
    optionsPie = {
        responsive: true,
        maintainAspectRatio: false,
        layout: {
        padding: {
            left: 10,
            right: 10,
            top: 10,
            bottom: 10
        }
        },
        legend: {
        position: "top"
        }
    };

    configPie = {
        type: "pie",
        data: {
        datasets: [
            {
            data: [{{pending_orders}}, {{confirm_orders}}, {{cancel_orders}},{{on_the_way_orders}},{{delivered_orders}}],
            backgroundColor: ["#F7604D","#4ED6B8","#A8D582","#D7D768","#9D66CC",],
            label: "Storage"
            }
        ],
        labels: [
            "Pending",
            "Confirm",
            "Cancelled",
            "On the Way",
            "Delivered",
        ]
        },
        options: optionsPie
    };
    pieChart1 = new Chart(ctxPie, configPie);
    }

    {% comment %} For Bar Chart {% endcomment %}
    if ($("#barChart1").length) {
        ctxBar = document.getElementById("barChart1").getContext("2d");
    
        optionsBar = {
          responsive: true,
          scales: {
            yAxes: [
              {
                barPercentage: 0.2,
                ticks: {
                  beginAtZero: true
                },
                scaleLabel: {
                  display: true,
                  labelString: "Category"
                }
              }
            ]
          }
        };
    
        optionsBar.maintainAspectRatio =
          $(window).width() < width_threshold ? false : true;
    
        configBar = {
          type: "horizontalBar",
          data: {
            labels: [{% for category in categories %}"{{category.name}}",{% endfor %}],
            datasets: [
              {
                label: "No. of Orders",
                data: {{values_list}},
                backgroundColor: ["#F7604D","#4ED6B8","#A8D582","#D7D768","#9D66CC","#DB9C3F","#3889FC","#D1D0CE","#F7604D","#4ED6B8","#A8D582","#D7D768","#9D66CC","#DB9C3F","#3889FC","#D1D0CE","#F7604D","#4ED6B8","#A8D582","#D7D768","#9D66CC","#DB9C3F","#3889FC","#D1D0CE",],
                borderWidth: 0
              }
            ]
          },
          options: optionsBar
        };
    
        barChart1 = new Chart(ctxBar, configBar);
      }

      {% comment %} For Line Graph {% endcomment %}
      if ($("#lineChart1").length) {
        ctxLine = document.getElementById("lineChart1").getContext("2d");
        optionsLine = {
          scales: {
            yAxes: [
              {
                scaleLabel: {
                  display: true,
                  labelString: "No. of Orders"
                }
              }
            ]
          }
        };
    
        // Set aspect ratio based on window width
        optionsLine.maintainAspectRatio =
          $(window).width() < width_threshold ? false : true;
    
        configLine = {
          type: "line",
          data: {
            labels: [{% for day in pre_10days_list %}"{{day}}",{% endfor %}],
            datasets: [
              {
                label: "COD",
                data: [{% for order in cod_orders_10days %}{{ order }},{% endfor %}],
                fill: false,
                borderColor: "rgba(255,99,132,1)",
                cubicInterpolationMode: "monotone",
                pointRadius: 0
              },
              {
                label: "Pre-Paid",
                data: [{% for order in prepaid_orders_10days %}{{ order }},{% endfor %}],
                fill: false,
                borderColor: "#D7D768",
                cubicInterpolationMode: "monotone",
                pointRadius: 0
              }
            ]
          },
          options: optionsLine
        };
    
        lineChart1 = new Chart(ctxLine, configLine);
      }

</script>
{% endblock chartjs %}